.App {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0%;
    padding: 0%;
}

.window-popup {
    width: 20vw;
    height: 40vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.window-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input {
    height: 34px;
    margin-bottom: -2px;
}

svg {
    filter: none !important;
}